@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto-light.ttf") format("embedded-opentype");
  }

@font-face {
  font-family: "RobotoBlack";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/roboto-black.ttf") format("embedded-opentype"); 
}

@font-face {
  font-family: "mariadpro";
  font-style: normal;
  src: url("../fonts/myriadpro-regular.otf") format("embedded-opentype"); 
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  src: url("../fonts/Raleway-SemiBold.ttf") format("embedded-opentype"); 
}
